body {
	outline: 1px solid red;
	display: block;
	margin: 0;
}
.navi, #places-list{
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	text-align: center;
	display: inline-block;
}

.navi p {
	display: inline-block;
	font-size: 16px;
}

.navi input{
	min-width: 150px;
	width: 30%;
}

#map {
	height: 100vh;
}

#google-map {
	position: fixed;
	height: 100%;
	width: 100%;
}

#places-list {
	width: 20%;
}