body {
	outline: 1px solid red;
	display: block;
	margin: 0;
}
.navi {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	text-align: center;
}
.navi p{
	display: inline;
}

#map {
	height: 100vh;
}

#google-map {
	position: fixed;
	height: 100%;
	width: 100%;
}